:root {
    --pink: #ffc1cc;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* Navigation */
header {
    font-family: 'Playfair Display', serif;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--pink);
    color: var(--white);
}

header h1 {
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

#portfolio {
    font-size: 24px;
}

header a {
    text-decoration: none;
}

header a:hover {
    color: #40e0d0;
    font-weight: bold;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
}

/* Content */

.content h2 {
    border-bottom: 3px solid var(--pink);
}

#about {
    width: 100%;
    margin-bottom: 30px;
}

#about {
    width: 100%;
    height: 21vw;
    margin-top: 20px;
    margin-bottom: 30px; 
}
  
.left-container {
    float: left;
    height: 21vw;
    width: 50%;
}
 
.left-content {
    width: 100%;
    height: 21vw;
}

.left-content img {
    width: 50%;
    height: 21vw;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 21vw;
    background: #fff;
    width: 50%;
    float: left;
}
  

.right-content {
    max-width: 70%;
}
  
.text {
    padding-left: 20px;
}

#projects img {
    width: 300px;
}

p {
    font-family: 'Comfortaa', cursive;
    line-height: 1.6;
}

