:root {
    --pink: #ffc1cc;
    --white: #ffffff;
    --teal: #5BDCCF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

.navbar-item {
    color: var(--teal);
}

#portfolio {
    font-size: 24px;
}

/* Content */
.content h2 {
    border-bottom: 3px solid var(--pink);
}

#about {
    display: flex;
    box-sizing: border-box;
    padding: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
  
#profile-pic {
    height: 250px;
    border-radius: 50%;
}

.right-container {
    display: flex;
    background: #fff;
    width: 70%;
    flex-direction: column;
    justify-content: center;
}
  

.right-content {
    max-width: 70%;
}
  
.text {
    padding-left: 20px;
}

p {
    font-family: 'Comfortaa', cursive;
    line-height: 1.6;
}

.img {
    height: 200px;
}

/* Projects Section */
#projects h2 {
    text-align: center;
}

.card-equal-height, .card-content {
    flex-grow: 1;
}

.card-footer-item {
    background-color: var(--teal);
    color: var(--white)
}

/* Contact section */
#contact {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-top: 40px;
    margin-top: 40px;
}

#contact a {
    text-decoration: none;
}

#contact img {
    background-color: var(--white);
    height: 60px;
    margin-top: 20px;
}

